:root{
    background-image: url("pics/macBG.png");
    background-size: cover;
    background-attachment: fixed;
    color: #522300;
    display: grid;
}

body{
    background-color: rgba(255, 224, 186, 0.8);
    border: 2px solid #522300;
    border-radius: 10px;
    padding: 20px;
}

#ingredients-button{
    border: 2px solid #522300;
    border-radius: 10px;
    width: 75px;
    padding: 20px;
}